.App {
  background-color: black;
  padding: 5px 5px 30% 5px;
}

h1 {
  margin: 10px;
  padding: 5px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#botaoHeader {
  position: absolute;
  top: 6%;
  right: 5%;
  border: none;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  padding: 0px;
  background-color: black;
}

#botaoHeader:hover {
  background-color: #444444;
  cursor: pointer;
}

#svgHeader {
  fill: white;
  height: 20px;
}
